<div id="<%= dom_id project %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Client name:</strong>
    <%= project.client_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Unit price:</strong>
    <%= project.unit_price %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Work style:</strong>
    <%= project.work_style %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= project.start_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End date:</strong>
    <%= project.end_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tech stack:</strong>
    <%= project.tech_stack %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= project.status %>
  </div>
</div>
