<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "Project Board" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <header class="bg-white shadow-sm">
      <div class="container mx-auto px-5 py-4 flex justify-between items-center">
        <%= link_to "Project Board", root_path, class: "font-bold text-xl text-gray-800" %>
        <%= link_to "案件一覧", projects_path, class: "text-gray-600 hover:text-gray-800" %>
      </div>
    </header>

    <main class="container mx-auto mt-8 px-5">
      <%= yield %>
    </main>
  </body>
</html>
